.editor-wrap {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;

    &>* {
	display: flex;
	flex-direction: column;
	flex-basis: 35em;
	&>* {
	    flex: 1
	}
    }
    .editor {
	min-width: max(50vw, 50em);
    }
    .pairs {
	flex: 1;
    }
    .input-field {
	flex-grow: 0;
	padding-bottom: 1em;
    }
    .pair-list {
	* {
	    text-align: center;
	}
	thead:first-child:nth-last-child(1) {
	    display: none;
	}
	tr:nth-child(even) {
	    background-color: rgba($main-color, .125);
	}
    }
}
