.frs {

    display: flex;

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

#image_container {
    height: 800px;
    position: relative;
}

img {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

}
#oben, #up, #points, .point, #anzeige{
    display: flex;
}
#neu, #show, #delete, #save{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    color: white;
}
#neu{
    background-color: #4f8711;
}
#show{
    background-color: #1f4059;
    width: 100%;
    margin: 0;
}
#delete{
    background-color: red;
    width: 50%;
}
#save{
    background-color: dodgerblue;
    width: 50%;

}
#anzeige.inactive{
    display: none;
}

.x1, .x2, .y1, .y2{
    padding: 10px;
}
#x1, #x2, #y1, #y2{
    padding-top: 5px;
}
#up{
    height: 100px;
    display: none;
}
#neu, #show{
    height: 20px;
}
#input{
    height: 20px;
    margin-top: 17px;
    margin-left: 15px;
}
#recht{
    position: absolute;
    left: 700px;
    top: 50px;
}
#rechts{
    display: flex;
    justify-content: center;
}
#up{
    position: relative;
    width: 945px;
}
input{
    height: 20px;
    width: 200px;
}

#recht{
    margin-left: 10px;
}
.liste_tit{
    font-weight: bold;
    margin-bottom: 10px;
}
.point{
    margin-bottom: 5px;
    margin-top: 5px;
}
.point.active{
    background-color: darkseagreen;
}
.label{
    width: 200px;
}
#number{
    margin-left: 53px;
}
.fa-check-circle-o{
    color: green;
    margin-left: 10px;
    display: none!important;
}
.point.checked .fa-check-circle-o{
    display: block!important;
}
#canvas{
    cursor: pointer;
}
.liste_tit{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #92e1ea;
}
}