html {
  font-size: $root-size;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: $font-size-md;
    line-height: 1.35;
    color: $tertiary-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: $secondary-color;
}

.content {
    h2 {
	font-size: 2em;
	line-height: normal;
    }

    h3 {
	color: $tertiary-color;
    }
}

.splash-screen,
.overview-screen {
    color: white;
    text-align: center;
    letter-spacing: 0.1rem;
}

.splash-screen-logo,
.overview-screen-logo {
    font-size: 7.5rem;
    font-weight: bold;
}

.splash-screen-text,
.overview-screen-text {
    font-size: 1.5rem;
    width: 35em;
    max-width: 80vw;
}

.splash-screen-button,
.overview-screen-button {
    font-size: 1.5em;
    font-weight: bold;
}

.bold-text {
    font-weight: 600;
}

.underlined-text {
    text-decoration: underline;
}

.suptext, .subtext {
    font-size: 80%;
    position: relative;
    line-height: 0;
    vertical-align: baseline;
 }

 .suptext {
    top: -0.5em;
 }
  
 .subtext {
    bottom: -0.25em;
 }
