:root {
    --main-color: #67d5e2;
  }

  .splash-screen-background {
    background: linear-gradient(0deg, #ffffff, var(--main-color));
  }

  .splash-screen-button {
      border-radius: 2px;
      background-color: white;
      text-decoration: none;
      color: var(--main-color);
  }

  .overview-screen-background {
    background: linear-gradient(0deg, #ffffff, var(--main-color));
  }

  .overview-screen-button {
      border-radius: 2px;
      background-color: white;
      text-decoration: none;
      color: var(--main-color);
  }