body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: var(--main-color);
}

.splash-screen {
    color: white;
    text-align: center;
    letter-spacing: 0.1rem;
}

.splash-screen-logo {
    font-size: 9rem;
    font-weight: bold;
}

.splash-screen-text {
    font-size: 1.5rem;
}

.splash-screen-button {
    font-size: 1.5em;
    font-weight: bold;
}

.overview-screen {
    color: white;
    text-align: center;
    letter-spacing: 0.1rem;
}

.overview-screen-logo {
    font-size: 9rem;
    font-weight: bold;
}

.overview-screen-text {
    font-size: 1.5rem;
}

.overview-screen-button {
    font-size: 1.5em;
    font-weight: bold;
}